/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;

    padding: 15px;

   }
   #header{
    min-height: 150px;
    background-color: green;

    margin-bottom: 15px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;


    display: inline-block;
    vertical-align: top;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;

    display: inline-block;
    margin-left: 15px;
    padding: 15px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;

    margin-left: 15px;
    display: inline-block;
   }
   #advertisement{
    min-height: 120px;
    width: 670px;
    background-color: purple;

    margin-top: 15px;

    margin-left: 15px;
   }
   
   