* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lineas {
  outline: 1px solid red;
}

.navegacion {
  width: 900px;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}


main{
    width: 900px;
    height: 300px;
    margin: 0 auto;
    background-color: silver;
}



.foto-principal{
    width: 200px;

}

.principal{

}

.acerca{
    display: flex;
    align-items: center;
    justify-content: space-around;
}





.col,.col-2,.col-3{


    flex: 1;
    padding: 10px;
    background-color: cyan;
}

.col-2{
    flex: 2;
}


.mas-info{
    display: flex;
    align-items: start;
    justify-content: center;

}

.logo-info{
    width: 100%;

}

.logo-tecnologias{
    width: 30px;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secciones{
    height: 300px;

    overflow: scroll;
}